.section-contact {
    margin: 10rem auto;
    max-width: 70rem;
}

.section-contact h2 {
    /* color: var(--color-secondary); */
    color: #2D2A2A;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

.newsletter {
    margin-bottom: 6rem;
    padding: 3rem;
    background-color: var(--color-primary);
}

.newsletter-content {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
}

.newsletter h2 {
    color: #fff;
    font-weight: 400;
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
}

.form-subscribe {
    margin: 3rem 0;
    display: flex;
}

.form-subscribe input {
    flex: 1;
    border: 1px solid #dcd5cf;
    border-radius: 2px;
    height: 4.8rem;
    color: #2d2a2a;
    padding: 0 1rem;
    font-size: 1.3rem;
    margin-right: 1rem;
}

.form-subscribe input:focus {
    outline: none;
}

.form-subscribe button {
    border: none;
    background-color: #e66074;
    padding: 0 3rem;
    height: 4.8rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

.newsletter p {
    color: #fff;
    font-size: 1.3rem;
    word-spacing: 2px;
    font-weight: 400;
}

.success {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 3rem 0;
}

.success-text {
    margin-right: 1rem;
    font-size: 2rem;
}

.icon-cont {
    padding: .5rem;
    background-color: rgb(107, 193, 107);
    border-radius: 50%;

    display: flex;
    align-items: center;
}

.success-icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

@media only screen and (max-width: 767px) {
    .section-contact {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .newsletter h2 {
        font-size: 2.1rem;
        margin-bottom: 1.1rem;
    }

    .newsletter p {
        font-size: 1.2rem;
    }

    .form-subscribe {
        display: block;
    }

    .form-subscribe input {
        width: 100%;
        display: block;
        font-size: 1.3rem;
        margin-right: 0;
        margin-bottom: 1.2rem;
    }

    .form-subscribe button {
        width: 100%;
    }
}