.form {

}

.form input {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 1.7rem;
}

.form input:focus {
    outline: none;
}

.form button {
    display: inline-block;
    background-color: var(--color-primary);
    border: none;
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}