@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-primary: #ff6b81;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    font-weight: 300;
}