.user-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.user-btn:not(:last-child) {
    margin-right: 2rem;
}

.nav-icon {
    height: 2.3rem;
    width: 2.3rem;
    fill: #fff;
}

.nav-icon__notification {
    position: absolute;
    color: #fff;
    font-size: 1.4rem;
    transform: translateY(-7px);
}