.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    transition: all 1s;

    background-color: rgba(0, 0, 0, 0.709);
    width: 100%;
    height: 100vh;

    animation-name: fadeIn;
    animation-duration: .2s;
    animation-timing-function: ease-in;
}

.cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 25%;
    height: 100vh;
    z-index: 6;

    display: grid;
    grid-template-rows: min-content 1fr min-content;

    animation-name: display;
    animation-duration: .2s;
    animation-timing-function: ease-out;
}

.menu-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 25%;
    height: 100vh;
    z-index: 6;

    overflow: auto;

    display: grid;
    grid-template-rows: min-content 1fr min-content;

    animation-name: menu-display;
    animation-duration: .2s;
    animation-timing-function: ease-out;
}

.menu-modal::-webkit-scrollbar {
    width: 3px;
}

.menu-modal::-webkit-scrollbar-track {
    /* scroll background */
    background: #ffffffc3;
}

.menu-modal::-webkit-scrollbar-thumb {
    /* scroll line */
    background: rgba(153, 153, 153, 0.735);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes display {

    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes menu-display {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1200px) {
    .cart-modal {
        width: 35%;
    }

    .menu-modal {
        width: 35%;
    }
}

@media only screen and (max-width: 1000px) {
    .cart-modal {
        width: 45%;
    }

    .menu-modal {
        width: 45%;
    }
}

@media only screen and (max-width: 800px) {
    .cart-modal {
        width: 55%;
    }

    .menu-modal {
        width: 55%;
    }
}

@media only screen and (max-width: 600px) {
    .cart-modal {
        width: 65%;
    }

    .menu-modal {
        width: 65%;
    }
}

@media only screen and (max-width: 500px) {
    .cart-modal {
        width: 75%;
    }

    .menu-modal {
        width: 75%;
    }
}

@media only screen and (max-width: 400px) {
    .cart-modal {
        width: 80%;
    }

    .menu-modal {
        width: 80%;
    }
}