/* .spinner {
    margin: .4rem 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    border-top: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255, 0);

    animation: spin 0.45s infinite linear;
}

.spinner-dark {
    margin: .4rem 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;

    border-top: 2px solid #2d2a2a;
    border-left: 2px solid #2d2a2a;
    border-right: 2px solid rgb(255, 255, 255, 0);

    animation: spin 0.45s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
} */

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner::before {
    animation: .5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 2px rgba(255, 255, 255, 0.364);
    border-bottom-color: #fff;
    border-radius: 50%;
    content: "";
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    /* top: 10%;
    left: 10%; */
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

.spinner-dark::before {
    animation: .5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 2px #cfd0d1;
    border-bottom-color: #2d2a2a;
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}